<h4>WEATHER FORECAST</h4>
 <div id="divWeatherMain"> 
    <div class="dashWidgetRow" style="font-size: 48px;margin-top: 10px;">{{DashData.temp_celcius}}°</div>
    <div class="dashWidgetRow" style="font-size: 24px;">{{DashData.temp_min}}° / {{DashData.temp_max}}°</div>
    <div class="dashWidgetRow" style="font-size: 24px;">Feels Like: {{DashData.temp_feels_like}}°</div>
    <div class="dashWidgetRow" style="font-size: 29px;margin-top: 10px;">{{DashData.name}}</div>
    <div class="dashWidgetRow" style="font-size: 24px;">Humidity: {{DashData.main.humidity}}%</div>
 </div>

